---
---

@import "bootstrap";

body {
  padding-top: 70px;
  text-align: justify;
}

figcaption {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}

.breadcrumb {
  background: none;
  border: none;
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.team-member-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px; /* or 950px */
}

/* Carousel */

.carousel {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}


/*----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #1a1a1a;
}

.frame {
    position: relative;
    display: block;
    top: 37vh;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-weight: 500;
}

a {
    z-index: 1;
    transition: all .2s;
    position: relative;
    max-width: fit-content;
    display: block;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
    transform: translate(-1px,-1px);
}

.button {
    display: block;
    z-index: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #000;
    text-align: center;
    background-color: rgba(255,255,255,.3);
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    transition: all .2s;
    position: relative;
    transform: translate(0);
    box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.button:hover {
    text-decoration: none;
    transform: translate(-1px,-1px);
}

.button_bg-grad {
    z-index: -2;
    background: linear-gradient(20deg, rgba(241,85,76,1) 0%, rgba(247,225,150,1) 100%);
    background-position: 0 0;
    background-size: cover;
    border-radius: 4px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: translate(0.5rem,0.5rem);
    pointer-events: none;
}
