---
title: "Publications"
layout: default
excerpt: "qxresearch AI Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{ page.title }}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

        <!-- New Paper 1 -->
        <div class="panel-heading">
            <!-- Authors -->
            Authors
            Soumyajit Maity, Rohit Prasan Mandal, Saranya Bhattacharjee, Sankhadeep Chatterjee,

            <!-- Title with link -->
            "Variational Autoencoder-Based Imbalanced Alzheimer Detection Using Brain MRI Images",

            <!-- Container -->
            <b>Proceedings of International Conference on Computational Intelligence, Data Science and Cloud Computing: Springer IEM-ICDC 2021</b>

            <!-- Issued Date -->
            (2022/8/18),

            <!-- DOI -->
            <a href="https://doi.org/NEW_PAPER1_DOI">DOI: Link</a>
        </div>

        <div id="collapseNEW1" class="panel-collapse collapse">
            <div class="panel-body">
                <!-- Description -->
                Maity, Soumyajit Mandal, Rohit Prasan Bhattacharjee, Saranya Chatterjee, Sankhadeep Alzheimer’s disease is an incurable, progressive neurological disease that causes the brain to shrink and brain cells to die. Earlier detection of Alzheimer’s disease can lead to proper treatment and prevent brain tissue damage. So accurate and fast detection of Alzheimer is most important. There is many well-established model which can predict Alzheimer’s disease but they struggle hard for imbalance datasets. This work has focused on the early and fast detection of Alzheimer’s disease from imbalance brain magnetic resonance imaging (MRI) dataset using proper variational autoencoder (VAE) model. Firstly, the whole dataset has been converted into a latent vector form then we used some popular sampling methods to balance the dataset. Finally, we applied some classification algorithm to classify the brain MRI images into …

                <!-- Total Citations -->
                Total citations: Cited by 1

                <!-- Link -->
                <a class="btn btn-outline-primary" href="https://link.springer.com/chapter/10.1007/978-981-19-1657-1_14" role="button" target="blank">Link</a>
            </div>
        </div>

        <!-- New Paper 2 -->
        <div class="panel-heading">
            <!-- Authors -->
            Authors
            Rohit Prasan Mandal, Deepanshu Dutta, Saranya Bhattacharjee, Subhalaxmi Chakraborty,

            <!-- Title with link -->
            "Water Content Prediction in Smart Agriculture of Rural India Using CNN and Transfer Learning Approach",

            <!-- Container -->
            <b>O'Reilly : Decision Support Systems for Smart City Applications</b>

            <!-- Issued Date -->
            (2022/12/20),

            <!-- DOI -->
            <a href="https://www.oreilly.com/library/view/intelligent-decision-support/9781119896432/c10.xhtml">DOI: Link</a>
        </div>

        <div id="collapseNEW2" class="panel-collapse collapse">
            <div class="panel-body">
                <!-- Description -->
                Soil moisture prediction is one of the emerging fields in the domain of smart agriculture. Ample moisture levels are of high importance to yields; thus, plants will not grow and develop with inadequate soil moisture, which influences soil temperature and heat capacity and also prevents soil from weathering. Accurate soil moisture detection can lead to proper growth of all kinds of trees and crops. In this chapter, we have implemented a deep learning and few transfer learning algorithms, such as convolutional neural network (CNN), VGGNet (VGG‐16, VGG‐19), Inception v3, ResNet50, Xception for prediction of soil moisture based on a very small custom dataset of 626 field images of rural India over a period of 10 days, both with and without the effect of data augmentation. We have also demonstrated how these pretrained algorithms save both time and resources compared to traditional …

                <!-- Total Citations -->
                Total citations: Cited by 0 <!-- Update the citation count as per the actual data -->

                <!-- Link -->
                <a class="btn btn-outline-primary" href="https://doi.org/NEW_PAPER2_DOI" role="button" target="blank">Link</a>
            </div>
        </div>

    </div>
</div>


{% assign number_printed = 0 %}
{% for publi in site.data.publist %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if publi.highlight == 1 %}

{% if even_odd == 0 %}
<div class="row">
{% endif %}

<div class="col-sm-6 clearfix">
 <div class="well">
  <pubtit>{{ publi.title }}</pubtit>
  <img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publi.image }}" class="img-responsive" width="33%" style="float: left" />
  <p>{{ publi.description }}</p>
  <p><em>{{ publi.authors }}</em></p>
  <p><strong><a href="{{ publi.link.url }}">{{ publi.link.display }}</a></strong></p>
  <p class="text-danger"><strong> {{ publi.news1 }}</strong></p>
  <p> {{ publi.news2 }}</p>
 </div>
</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>
{% endif %}

{% endif %}
{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}
</div>
{% endif %}

<p> &nbsp; </p>
